html,
body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

#pagewidth {}

/*--Шапка--*/

.header {
    background-color: blue;
    color: antiquewhite;
}

a {
    text-decoration: none;
}

/*--Левая колонка--*/



h2 {
    text-align: center;
}

#leftcol {
    width: 33%;
    float: left;
    position: relative;
    background-color: #000000;
    overflow-y: scroll;
    overflow-y: scroll;
    color: #FFFF00;
}

.text3 {
    text-align: center;
}

/*--Центральня колонка--*/
#twocols {
    width: 67%;
    float: right;
    position: relative;
}

#maincol {
    background-color: #000000;
    float: left;
    position: relative;
    width: 50%;
    overflow-y: scroll;
    color: #FFFF00;
}

/*--Правая колонка--*/
#rightcol {
    width: 50%;
    float: right;
    position: relative;
    background-color: #000000;
    overflow-y: scroll;
    color: #FFFF00;
}



/*--Подвал--*/
#footer {
    height: 25px;
    background-color: #000000;
    clear: both;
    display: block;

}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*--Блочно-строчный элемент--*/
.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/*@media print {
    #leftcol {
        display: none;
    }

    #rightcol {
        display: none;
    }

    #twocols,
    #maincol {
        width: 100%;
        float: none;
    }
}*/
