body {
    background: #90EE90;
    font-family: Tahoma, sans-serif;
    line-height: 1.8;
}
a {
    text-decoration: none;
}

table {}

/*index_1*/
p {
    background: #0000FF;
}

.block3 {

    background: #000000;
    float: left;

    margin: 2px;
    padding: 9px;

    color: #FFFF00;
    text-align: center;
}





.code {
    color: #7CFC00;
    font-size: 20px;
}

big {
    color: #FFA500;
}

/*--index_2--*/
/*--стилизация таблицы--*/
table,
th,
td {
    border: 5px solid #FFFAF0;
    padding: 5px;
}

