body {
    font-family: Verdana, Geneva, sans-serif;
}



.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    background-color: #edff86;
    gap: 5px
    
}

.container > div {
    background-color: #cfffcc;
    
}



p {
    background: #0000FF;
}

/*---стилизация кода---*/
.code {
    color: #a303ff;
    font-size: 25px;
}

/*---значения кода---*/
big {
    color: #01823f;
}

.header {
    background-color: blue;
    color: antiquewhite;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

#footer {
    height: 25px;
    background-color: #000000;
    clear: both;
    display: block;





